---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TrustBar from "../components/TrustBar.astro";
import Servicios from "../components/Servicios.astro";
import Bienestar from "../components/Bienestar.astro";
import NuevosServicios from "../components/NuevosServicios.astro";
import Testimonios from "../components/Testimonios.astro";
import CtaFinal from "../components/CtaFinal.astro";
import Footer from "../components/Footer.astro";
import CreditWidget from "../components/CreditWidget.astro";
---
<Base>
  <Header />
  <main>
    <Hero />
    <TrustBar />
    <Servicios />
    <Bienestar />
    <NuevosServicios />
    <Testimonios />
    <CtaFinal />
  </main>
  <Footer />
  <CreditWidget />
</Base>
